.friendList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.items{
    display: flex;;
    height: calc(100% - (4 * 12px));
    padding: 12px;
    padding-right: 24px;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;

    color: #ffffff ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;

    background-color: #4b3a61;
    box-shadow: 0px 0px 12px 6px #654a8d;
    border-radius: 12px;
    transition: scale 200ms ease-in-out, box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
}

.items:hover,
.items:focus {
    scale: 1.01;
    background-color: #503e68;
    box-shadow: 0px 0px 16px 8px #8a65c1;
}

.status {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.items:hover .true,
.items:focus .true {
    scale: 1.02;
    box-shadow: 0px 0px 16px 4px rgb(2, 219, 2);
}

.items:hover .false,
.items:focus .false {
    scale: 1.02;
    box-shadow: 0px 0px 16px 4px rgb(255, 68, 68);
}

.status.true {
    transition: scale 200ms ease-in-out, box-shadow 200ms ease-in-out;
    background-color: rgb(136, 225, 1);
}

.status.false {
    background-color: red;
}

.name{
    margin-left: auto;
}